
@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="text-center">
    <p style="font-size:50px">404</p>
    <p style="font-size:50px">PAGE NOT FOUND!!!</p>
    @Html.ActionLink("Trở về trang chủ", "Index", "Home")
</div>


